In [1]:
from pypdf import PdfReader
import os, re
import pandas as pd
from pathlib import Path

In [4]:
paths_df = pd.read_csv('../metadata/pdf_path_table.csv')
pdf_paths = list(paths_df.path)
paths_df

      id                                               path
0      0  ../BData/Mech - Section 2 - Systems Descriptio...
1      1  ../BData/382311-3514-SND-WBC104-ZZ-TS-X-0103-J...
2      2  ../BData/RUH Cancer Care Unit - Public Health ...
3      3  ../BData/TS-003 - BMS Des Ops_BMS Des Ops_S3 S...
4      4  ../BData/TS-003 - BMS Des Ops_BMS Des Ops_S3 S...
..   ...                                                ...
604  604  ../BData/TS-004 - BMS System_BMS System_S3 Sui...
605  605  ../BData/TS-004 - BMS System_BMS System_S3 Sui...
606  606  ../BData/TS-004 - BMS System_BMS System_S3 Sui...
607  607  ../BData/TS-004 - BMS System_BMS System_S3 Sui...
608  608  ../BData/TS-004 - BMS System_BMS System_S3 Sui...

[609 rows x 2 columns]

In [5]:
mtx = []
separator = '\n$$$\n'
min_thres = 500

for i in range(len(paths_df)):
    txt = open(f'../BData/parsed_data/{i}.txt').read()
    pages = txt.split(separator)
    max_page = max([len(page) for page in pages])
    min_page = min([len(page) for page in pages])
    exclud_pages = sum([len(page) < min_thres for page in pages])
    #expags = [i for page, i in zip(pages, range(len(pages))) if len(page) < min_thres]
    #expags_list.append(expags)
    #print(f'doc {i}, total pages {len(pages)}, max chars in page {max_page}, min chars page: {min_page}, excluded pages {exclud_pages}')
    mtx.append([i, len(pages), max_page, min_page, exclud_pages])

In [7]:
df = pd.DataFrame(mtx, columns=['id', 'pages', 'max_page', 'min_page', 'exclud_pages'])
df

      id  pages  max_page  min_page  exclud_pages
0      0     37      3019       332             1
1      1      1      3625      3625             0
2      2     10      5962        81             4
3      3     71      3154       346             2
4      4      1      1101      1101             0
..   ...    ...       ...       ...           ...
604  604      4      3670      2430             0
605  605    136      7909         0            13
606  606      6      4231      2305             0
607  607      5      3144      1086             0
608  608      2       983       844             0

[609 rows x 5 columns]

In [9]:
df.sort_values(['max_page'])

      id  pages  max_page  min_page  exclud_pages
364  364      1         0         0             1
68    68      1         0         0             1
42    42      1        10        10             1
338  338      1        10        10             1
65    65      1        38        38             1
..   ...    ...       ...       ...           ...
72    72      1     10786     10786             0
497  497      9     17261      1512             0
318  318      9     17261      1512             0
10    10      9     17261      1512             0
14    14      9     17261      1512             0

[609 rows x 5 columns]

In [10]:
pdf_paths[10]

'../BData/5127-KCWW-XX-XX-SP-W-0001_BIM Execution Plan_A5 Approved and Accepted for Construction_C04/5127-KCWW-XX-XX-SP-W-0001/5127-KCWW-XX-XX-SP-W-0002_Appendix2-C10.pdf'