In [1]:
import psycopg2, json

In [2]:
conn = psycopg2.connect("dbname=emb user=vagner")
cur = conn.cursor()

In [3]:
cur.execute("CREATE TABLE bcorpus (id bigserial PRIMARY KEY, doc INT, page INT, txt VARCHAR(10000), embedding vector(768));")

In [4]:
js = json.loads(open('../tmp/corpus.json').read())

In [ ]:
for it in js:
    txt, emb, doc, page = it['txt'], it['emb'], it['doc'], it['page']
    txt = txt.replace("'", '')
    query = f"INSERT INTO bcorpus (doc, page, embedding, txt) VALUES ({doc}, {page}, '{emb}', '{txt}');"
    cur.execute(query)

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [33]:
#conn.commit()
cur.close()
conn.close()